<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit {{ movie.title }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/movie_edit.css' %}">
</head>
<body>
    <div class="main-container">
        <div class="menu">
            <h3>Menu</h3>
            <ul>
                <li><a href="{% url 'showcase' %}" class="menu-btn">Home</a></li>
            </ul>
        </div>

        <div class="content">
            <div class="form-container">
                <h2>Edit Movie: {{ movie.title }}</h2>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="input-group">
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn">Save Changes</button>
                </form>
                <img id="image-preview" alt="Preview Image">
            </div>
        </div>
    </div>
</body>
</html>
