/* Обновленный стиль для страницы Add Movie */

body {
    background-color: #141414;
    font-family: 'Arial', sans-serif;
}

.main-container {
    display: flex;
    min-height: 100vh; /* Минимальная высота — вся высота экрана */
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh; /* Занимает всю высоту экрана */
    width: 250px; /* Фиксированная ширина */
    background-color: #141414; /* Цвет фона */
    overflow-y: auto; /* Если меню будет длиннее экрана, добавит прокрутку */
}

.menu h3 {
    color: white;
    text-align: center;
    font-size: 18px;
    margin-bottom: 15px;
}

.menu-btn {
    display: block;
    width: 100%;
    background-color: #1c1c1c;
    color: #ecf0f1;
    padding: 15px 0;
    border: none;
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 15px;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s ease, box-shadow 0.3s ease;
}

.menu-btn:hover, .menu-btn:focus {
    background-color: #e50914;
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.menu ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu li {
    width: 100%;
}

.content {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #1f1f1f;
}

.form-container {
    background-color: #141414;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    color: white;
}

h2 {
    margin-bottom: 20px;
    color: #e50914;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    width: 100%;
    text-align: left;
    padding-left: 0;
    margin-left: 0;
}

.input-group input,
.input-group select,
.input-group textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #222;
    color: white;
    margin-left: 0;
}

.input-group input:focus,
.input-group select:focus,
.input-group textarea:focus {
    border-color: #e50914;
    outline: none;
}

.btn {
    width: 100%;
    padding: 14px;
    background-color: #e50914;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background-color: #d40813;
    transform: scale(1.05);
}

#image-preview {
    display: none;
    width: 200px;
    margin-top: 10px;
    border-radius: 5px;
}

input[id$="-clear_id"] {
    display: none;
}

label[for$="-clear_id"] {
    display: none;
}
